.jumbotron {
  background: #18BC9C;
  color: white;
  padding-bottom: 80px; }
  .jumbotron .btn-primary {
    background: #845ac7;
    border-color: #845ac7; }
    .jumbotron .btn-primary:hover {
      background: #7646c1; }
  .jumbotron p {
    color: #18BC9C;
    max-width: 80%;
    margin: 1em auto 2em; }
  .navbar + .jumbotron {
    margin-top: -20px; }
  .jumbotron .lang-logo {
    display: block;
    background: #B01302;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white; }
    .jumbotron .lang-logo img {
      max-width: 100%; }

.table, th, td {
    border: 1px solid black;
	padding: 5px;
}
.footerWrap {
    width:100%;
    position:fixed;
    bottom: 0px;
}
.footer {
    margin:auto;
}
.footerContent {
    float:center;
    width:100%;
    padding:20px 0;
}
.footer p {float:left; width:100%; text-align:center; }
.body { background-color:#b89fdf;}
