<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>


<div class="jumbotron text-center">
  <div class="container">

</div>
<div class="container">
We don't have content here yet. 
</div>


</body>
</html>
