<!DOCTYPE html>
<html lang="en">
  <head>
	 <% include ../partials/header.ejs %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Bootstrap 101 Template</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
	    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>

  </head>
  
  <body>
	<div class="jumbotron text-center">
  <h1>Wiki-Books</h1> 
  <p> Freeing the Internet, one addicted facebok user at a time <p>
  <p>  	Click <a href="https://wiki-book.herokuapp.com/db">here</a> to query the DB.</p> 


  <!-- <form class="form-inline">
    <div class="input-group">
      <input type="email" class="form-control" size="50" placeholder="Email Address" required>
      <div class="input-group-btn">
        <button type="button" class="btn btn-danger">do nothng</button>
      </div>
    </div>
  </form> -->
</div>

  </body>
</html>